.share-sheet-wrapper {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 20px;
  }
  .share-tit {
    font-size: 14px;
    color: #999;
    text-align: center;
    padding-top: 18px;
  }
  .share-item {
    width: 50px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .share-cancle {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-top: 1px solid #eeeeee;
    position: absolute;
    bottom: 0;
  }